header {
    background: #2B3844;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    gap: 800px;
}

.world {

    font-size: 24px;
}

.p {

    font-size: 16px;
}

input {
    background: #2B3844;
    width: 480px;
    height: 56px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-left: 40px;
}

main {
    background: #202C36;
    height: 1024px;
}

.card {
    width: 264px;
    height: 250px;
    background: #2B3844;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

img {
    width: 100%;
   
}

.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 60px;
   
}
@media(max-width:835px){
    input{
        width: 768px;
        height: 101px;
    }

    h2{
        font-size: 15px;
        width: 200px;
        border: 1px solid;
      

    }
    p{
        font-size: 18px;
    }
}